<!-- Navbar -->
<div class="pos-f-t">
  <div class="collapse custom-navbar" id="navbarToggleExternalContent">
      <div class="p-4">
          <div class="row justify-content-center">
              <div class="col-2">
                <button type="button" class="btn btn-outline-light btn-lg" [routerLink]="['/rooms']">My Rooms</button>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-outline-light btn-lg">Join Room</button>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-outline-light btn-lg" [routerLink]="['/products']">My Products</button>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-outline-light btn-lg">Invite Friends</button>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-outline-light btn-lg" (click)="logoutUser()">Logout</button>
            </div>
          </div>
      </div>
  </div>
  <nav class="navbar">
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent">
      <i class="fas fa-bars"></i>
      </button>
  </nav>
</div>

<!-- Content -->
<div class="row mb-3">
    <div class="col-12">
    <router-outlet></router-outlet>
    </div>
</div>